@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Open Sans";
}


/* HEADER */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 20px 20px;
    display: inline-flex;
    align-items: center;
    transition: 0.45s;
}

.Logo {
    position: relative;
    width: 75px;
    animation: apparition 1s ease-out;
    transition: 0.45s;
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }

}

nav.container {
    display: contents;
    justify-content: space-between;
    width: 100%;

}


nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: apparition 0.95s ease-out;
    list-style: none;
    opacity: 0.9;
    transition: 0.3s;

}



nav ul li a.link-header-static {
    margin: 4rem;
    outline: none;


}

button {
    outline: none;

}


.form-search {
    width: fit-content;
    display: contents;
}

.search-button {
    border: none;
    background: none;
    cursor: pointer;
}

.bar-closed {
    position: absolute;
    width: 0%;
    transition: 0.3s;
    opacity: 0;
}

.bar-open {
    position: relative;
    display: initial;
    margin-left: 1rem;
    background-color: transparent;
    border: 2px #19CAFC solid;
    border-radius: 15px;
    padding: 0.5rem;
    width: 80%;
    font-size: 18px;
    color: #000;
    transition: 1s;
    opacity: 1;
}

.header-img {
    width: 1.5rem;
    transition: all 0.3s ease 0s;

}

.user-img {
    position: relative;
    width: 5.5rem;
    transition: all 0.3s ease 0s;

}

.user-button {
    border: none;
    background: none;
    cursor: pointer;
}

.header-img:hover {
    transform: translateY(-7px);

}

.user {
    position: absolute;
    margin-top: 5.5rem;
    margin-right: 5.9rem;
    right: 0;
}

.links {
    flex: 1;
    display: flex;
}

.toggle-btn {
    animation: apparition 1.2s ease-out;
    margin-left: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.50);

}

.toggle-btn:hover {
    filter: brightness(70%);
}

.menu-deroulant {
    margin-left: 20px;

}

.menu-deroulant>a:after {
    margin-left: 15px;
    content: '❯';
    display: inline-block;
}

.menu-deroulant:hover>a:after {
    animation: rotationFleche 0.2s 2 linear forwards;
}

@keyframes rotationFleche {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.sous-menu {
    margin-top: var(--hauteur-menu);
    width: fit-content;
    text-align: center;
    overflow: hidden;
    max-height: 0;
    position: absolute;
    background-color: #0c0d0d75;
    border-radius: 10px;
    display: block;
    margin-left: 10px;
    margin-top: 5px;
    box-shadow: 0px 15px 20px #0c0d0d;

}

.menu-deroulant:hover>.sous-menu {
    animation: apparitionSousMenu 1s forwards;
}

@keyframes apparitionSousMenu {

    100% {
        max-height: 10em;
    }
}

.sous-menu>li>a.link-header-dynamic {
    align-items: center;
    display: flex;
    height: 50px;
    width: fit-content;
}

.sous-menu li {
    width: 100px;
}

a.link-header-dynamic {
    text-decoration: none;
    margin: 6px 15px;
    color: #fff;
    transition: all 0.3s ease-in-out 0s;
    font-family: "Open Sans";

}

a.link-header-dynamic:hover {
    transform: translateY(-7px);
}

a.link-header-dynamic:active {
    transform: translateY(-1px);
}


/******* Drop Down *********/




#icondd {
    width: 1.5rem;
}


.dropbutton {
    position: relative;
    display: flex;
    align-items: center;
    border: 0;
    background: transparent;
    backdrop-filter: blur(5px);
    cursor: pointer;
    color: #f9f9f9;
}

.menu {
    overflow: hidden;
    position: absolute;
    width: 231%;
    right: -50px;
    z-index: 1;
    translate: 0 -15px;
    opacity: 0;
    visibility: hidden;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.45);
    transition: 0.4s;
}

.menu.open {
    translate: 0 0;
    opacity: 1;
    visibility: visible;

}

.menu-title {
    font-size: 1rem;
}

.menu>.dropbutton {
    gap: 10px;
    width: 100%;
    height: 56px;
    padding: 0 18px;
}

.menu>.dropbutton:hover {
    background: rgba(0, 0, 0, 0.26);
}






/* INDEX */

.accueil {
    height: 100vh;
}

.background-acceuil {
    position: absolute;
    width: 100%;
    height: 100%;
}

.custom-shape-divider-top-1671021536 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    filter: drop-shadow(5px 5px 3px rgb(49, 46, 46));


}

.custom-shape-divider-top-1671021536 svg {
    position: relative;
    display: block;
    width: calc(210% + 20px);
    height: 140px;
    transform: rotateY(180deg);

}

.custom-shape-divider-top-1671021536 .shape-fill {
    fill: #fff;
}

#back {
    width: 100%;
    height: 100%;
    position: absolute;
}

#back-2 {
    width: 100%;
    height: 100%;
    position: absolute;
}

#back-3 {
    width: 15%;
    margin: auto;
}

#back-4 {
    width: 100%;
    height: 100%;
    position: absolute;
}

#back-5 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.logoback {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    z-index: -1;
}

.titre-accueil {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}


.h1-accueil {
    color: #000;
    font-size: 13rem;
    font-family: "Montez";
    margin-left: 0.5rem;
    text-shadow: 5px 5px 1px #fff;
}

.t-1 {
    margin-left: 10%;
}


.soustitre-accueil {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}

.h2-accueil {
    position: absolute;
    margin-left: 12%;
    margin-top: 20%;
    font-family: "Montez";
    font-size: 3rem;
}
























.info {
    height: 100vh;
    background-color: #F0C807;
}

.dob {
    display: flex;
    width: 100%;
    height: 100%;
}

.dob .container {
    position: relative;
    padding: 5rem;
    width: 40%;
    height: 65%;
    align-items: center;
}

.title-context {
    color: #000;
    font-size: 5rem;
    font-family: "Montez";
    text-shadow: 5px 5px 1px #fff;
    width: fit-content;


}

.subtitle-context {
    color: #000;
    font-size: 3rem;
    font-family: "Montez";
    font-weight: lighter;
    width: fit-content;


}

#contextimg {
    width: 18%;
    position: absolute;
    top: 12%;
    right: 10%;
}

.text-context {
    position: relative;
    width: 100%;
    margin-top: 2.5rem;
    text-align: justify;
    color: #000;
    font-family: "Open Sans";
    font-size: 1.3em;
    letter-spacing: 0.5px;
    z-index: 2;

}


#SuperTikker {
    width: 18%;
    position: absolute;
    z-index: 1;
    animation: superman 10s alternate infinite
}

@keyframes superman {

    0%,
    100% {
        bottom: 60%;
        left: 750px;
    }

    50% {
        bottom: 85%;
    }

}



.dob .container-2 {
    position: relative;
    padding: 5rem;
    width: 60%;
    height: 70%;
    align-items: center;
    margin-top: 13%;
}











.tags {
    background-color: #F0C807;
    height: 100vh;
}

.tags .container-3 {
    position: relative;
    padding: 2rem;
    height: fit-content;
    margin: auto;
}




.tags .container-4 {
    position: relative;
    padding: 10rem;
    width: 100%;
    height: 70%;
}

.container-cards {
    display: inline-flex;
    margin: auto;
    gap: 4rem;
}

.title-context.cat {
    margin: auto;
}

.subtitle-context.cat {
    margin: auto;
}






.card {
    width: 260px;
    height: 310px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 8px 8px 18px #191b1d;
    border-radius: 10px;
}

.card-inner {
    width: inherit;
    height: inherit;
    background-image: url(../assets/background/back-default.jpg);
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.card-cat {
    position: relative;
    width: inherit;
    height: inherit;
    z-index: 2;
    display: flex;
    align-items: center;
    backdrop-filter: blur(3px);
}


.card-video {
    position: absolute;
    width: inherit;
    height: inherit;
    margin-left: 2rem;
    opacity: 0;
}

.card-video:hover {
    opacity: 0;
}

.title-cat {
    margin: auto;
    color: #f4d53c;
    font-size: 2.5rem;
    font-family: "Montez";
    width: fit-content;
}

.card:hover {
    width: 335px;
    transform: scale(1.15) rotate(5deg);
}

.card-cat:hover {
    opacity: 0;
}

.card:active {
    transform: scale(0.8);
}

.circle {
    width: 80px;
    height: 80px;
    background: radial-gradient(#a3e1f0, #19CAFC);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 10s ease-in infinite alternate-reverse;
    z-index: 1;
}

.circle:nth-child(1) {
    top: -25px;
    left: -25px;
}

.circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
}

@keyframes move-up6 {
    to {
        transform: translateY(270px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateY(-270px);
    }
}

.card-1 {
    background-image: url(../assets/background/back-web2.jpg);
}

.card-2 {
    background-image: url(../assets/background/back-app2.jpg);

}

.card-3 {
    background-image: url(../assets/background/back-cyber.png);

}

.card-4 {
    background-image: url(../assets/background/back-software.jpg);

}

.card-5 {
    background-image: url(../assets/background/back-jv.jpg);

}























































/********************* Pages de connexion/inscriptions ********************/

.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.formulaire {
    position: relative;
    margin: auto;
    border-radius: 20px;
    width: 30%;
    height: 55%;
    display: block;
    justify-content: flex-end;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(255, 255, 255, 0.16);

}

.Inscription {
    height: 80%;
    margin: auto auto 3rem auto;

}

.form-block {
    margin: 1rem auto auto auto;
    width: 100%;
}

.log {
    margin: 2.5rem auto auto auto;

}








.form-control {
    position: relative;
    margin: 0 auto 30px auto;
    width: 190px;
    display: flex;
}

.logi {
    margin: 0 auto 50px auto;

}

#showpwd {
    position: absolute;
    width: 3rem;
    top: 5px;
    margin-left: 10px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #000;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: #19CAFC;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #fff;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: #19CAFC;
    transform: translateY(-30px);
    text-shadow: 1px 1px 0.5px #fff;
}


.cont {
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    transform: scale(1);
}

.check-p {
    position: relative;
    font-size: 13px;
    font-style: italic;
    color: #000;
    font-family: "Poppins", 'Trebuchet MS', sans-serif;

}

.check-connect {
    height: 1rem;
    width: 1rem;
    display: inline-block;
    appearance: none;
    position: relative;
    background-color: #F2ECFF;
    border-radius: 15%;
    cursor: pointer;
    overflow: hidden;
}

.check-connect::after {
    content: '';
    display: block;
    height: 0.9rem;
    width: .4rem;
    border-bottom: .10rem solid #a0ffe7;
    border-right: .10rem solid #a0ffe7;
    opacity: 0;
    transform: rotate(45deg) translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 21%;
    transition: .25s ease;
}

.check-connect::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    background-color: #3cdce7;
    border-radius: 50%;
    opacity: .5;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .3s ease;
}

.check-connect:checked::before {
    height: 130%;
    width: 130%;
    opacity: 100%;
}

.check-connect:checked::after {
    opacity: 100%;
}

span {
    font-size: 2rem;
}









.form-boutons {
    position: absolute;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
}

.inscription {
    position: relative;
    bottom: 0;
    align-self: end;
    height: fit-content;
    text-decoration: none;
    font-style: italic;
    color: #191b1d;
}

.inscription:hover {
    color: #626262;
}


.btn {
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
    height: 15%;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


/********************* Page Profil ********************/


.section-profil {
    width: 100%;
    height: 100vh;
}

.background-profil {
    background-color: #F0C807;
    width: 100%;
    height: 40vh;
}

.panellogo-profil {
    width: 15%;
    margin-left: 45%;
    margin-top: 7%;
}

.photo-profil {
    border-radius: 50%;
    width: 25vh;
    height: 25vh;
    position: absolute;
    margin-top: -9%;
    margin-left: 5%;
    box-shadow: 0px 10px 15px #0c0d0d;
    background-color: white;
    z-index: 1;

}

.photo-pro {
    border-radius: 50%;
    width: 11vh;
    height: 11vh;
    margin-top: -25%;
    margin-left: 27%;
    position: absolute;
    z-index: 1;

}

#protag{
    width: 100%;
    height: 100%;
    display: none; 
}

.photo-profil>img {
    width: 100%;
    height: 100%;
}

.profil {
    width: 100%;
    height: 100%;
    background-color: #19CAFC;
    z-index: 0;
    position: absolute;
    gap: 2.5%;
    display: flex;
}

.desc-profil {
    position: relative;
    background-color: white;
    width: 55vh;
    height: fit-content;
    margin: 6% 1%;
    border-radius: 3%;
    box-shadow: 0px 15px 20px #0c0d0d;
    padding: 10px;
}


.container-desc {
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-color: #F0C807 #19CAFC;
    padding: 1rem;
}

.container-value {
    display: flex;
    margin-top: 0.5rem;
}

.container-bio {
    margin-top: 1rem;
}

.title-profil {
    font-size: 1rem;
    width: 100%;
}

.value-profil {
    margin-left: 0.5rem;
    font-size: 1rem;
    font-style: italic;
    color: #19CAFC;
}

.bio-profil {
    padding: 1rem;
    text-align: justify;
}




.modif-profil {
    font-family: "Montez";
    bottom: 0;
    margin: 2.5rem auto 1.5rem;
    width: fit-content;
    position: relative;
    padding: 0.7em 1.7em;
    font-size: 1.4rem;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
}

.link-modif {
    text-decoration: none;
    size: 20rem;
    color: #090909;

}

.modif-profil:hover {
    border: 1px solid white;
}

.modif-profil:active {
    box-shadow: 4px 4px 12px #c5c5c5,
        -4px -4px 12px #ffffff;
}


.publications {
    width: 100%;
    height: 100%;
}

.publications .container {
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(255, 255, 255, 0.16);
    width: 100%;
    height: 100%;
}

.pub-title {
    padding: 1rem;
    height: fit-content;
}

.pub-title h1 {
    width: fit-content;
    margin: auto;
    font-family: "Montez";
    text-shadow: 5px 5px 1px #fff;
    font-size: 3.5rem;

}

.pub-body {
    border-radius: 49px;
    background: #19CAFC;
    box-shadow: inset 9px 9px 14px #0d6781,
        inset -9px -9px 14px #25ffff;
    width: 80%;
    height: 80%;
    margin: 2rem auto;
    overflow: auto;
}

.pub-content{
    position: relative;
    margin: 5rem auto;
    height: 40%;
    width: 80%;
    background-color: #e8e8e8;
    border-radius: 25px;
    box-shadow: 5px 15px 20px #0c0d0d;

}

.pub-content-header{
    display: flex;
    align-items: center;
    width: fit-content;
}

.intitule{
    font-family: "Montez";
    width: fit-content;
    margin: 1rem;
    font-size: 2.5rem;
}

.pub-tags{
    width: fit-content;
    height: fit-content;
    margin: 1rem;
    font-size: 1rem;
}

.pub-content-desc{
    position: absolute;
    right: 0;
    height: 55%;
    width: 60%;
    margin: 1.5rem;
}

.pub-content-footer{
bottom: 0;
position: absolute;
margin: 1.5rem;
display: flex;
align-items: end;
}

.publierpar{
    font-size: 1rem;
}

.publierpar span{
    font-size: 1.2rem;
    font-style: italic;
    width: fit-content;
    height: fit-content;
}

.loading-pp-publication{
    width: 2.3rem;
    margin-left: 1rem;
}









/********************* Page Modification Profil  ********************/

.title-modif {
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 2rem;
    font-family: "Montez";
    text-shadow: 5px 5px 1px #fff;
}

#goprevious{
    width: 3rem;
    position: absolute;
    left: 0;
    top: 0;
    margin: 2rem;
}

#previousbutton{
    border: none;
    background: none;
    cursor: pointer;
}

.background-modif {
    width: 100%;
    height: 100vh;
}

.center-form {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}

.background-form {
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 20px;
    width: 70%;
    height: 80%;
    display: block;
    bottom: 2rem;
    position: absolute;
}

.container-modif1 {
    position: relative  ;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.space-left {
    margin-top: 3.5%;
    margin-left: 5%;
    display: flex;
    gap: 6rem;
}

.info-perso {
    border-radius: 12px;
    width: 100%;
    height: 20vh;
}

.descri {
    width: 25vh;
    height: 15vh;
}

.modif-desc {
    display: block;
}

.title-desc {
    color: #19CAFC;
}

textarea {
    resize: none;
    border-color:  #19CAFC;
    border-radius: 15px;
    padding: 1.2rem;
    outline: none;
    font-size: 0.9rem;
    font-family: "Open Sans";

}

.become-pro{
margin-top: 3rem;
}

.pro{
    font-size: 1.1rem;
    margin-left: 1rem;
}


.modif-pp {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.grid-pp{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: row;
}

.choice-pp {
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    margin-top: 1rem;
    
    transition: 0.5s;
}

.choice-pp:hover {
    cursor: pointer;
    width: 6vh;
    height: 6vh;
}

.modif-pp>input {
    margin-top: 45%;
    opacity: 0;
}

.mail{
    margin: auto;
    width: fit-content;
    display: flex;
    margin-top: 1rem;
}

.focused , .focused::before{
    transform: translateY(-30px);
}

.killian{
    cursor: not-allowed;
}

.pass-reset {
    text-decoration: none;
    position: absolute;
    padding: 1.3em 3em;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    bottom: 50px;
    left: 60px;
}

.pass-reset:hover {
    background-color: #e73c3c;
    box-shadow: 0px 15px 20px #e01e14a2;
    color: #fff;
    border: 2px solid #e73c3c;
    transform: translateY(-7px);
}

.pass-reset:active {
    transform: translateY(-1px);
}

.ok-btn {
    text-decoration: none;
    position: absolute;
    padding: 1.3em 3em;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    bottom: 50px;
    right: 2rem;
}

.ok-btn:hover {
    background-color: #2adb1d;
    box-shadow: 0px 15px 20px #1d8715;
    color: #fff;
    border: 2px solid #2adb1d;
    transform: translateY(-7px);
}

.ok-btn:active {
    transform: translateY(-1px);
}

.title-titles{
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 2rem;
    font-family: "Montez";
    text-shadow: 5px 5px 1px #fff;
}

/********************* Page Messagerie Profil  ********************/



.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.contact {
    width: 25%;
    height: 80%;
    margin: 9rem 0rem 0rem 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .title {
    width: 100%;
    height: fit-content;
}

.title-context.disscu {
    font-size: 3rem;
    margin: auto;
}

.contact .container {
    width: 75%;
    height: 73%;
    margin: 2rem auto;
    backdrop-filter: blur(7px);
    overflow: auto;
    padding: 1.5rem;

}


.chatbox {
    width: 59%;
    height: 80%;
    margin: 9rem 0rem 0rem 15rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatbox .title {
    width: 100%;
    height: fit-content;
    position: absolute;
}

.title-context.chatboxfeed {
    font-size: 4rem;
    margin-left: 50%;
}

.chatbox .container {
    width: 60%;
    height: 73%;
    margin: 9rem auto 4rem auto;
    background-color: #F0C807;
    border-radius: 25px;
    overflow: auto;
    padding: 1.5rem;
}


/* RECHERCHE PAGE */



.research {
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
}

.research .container {
    position: relative;
    margin: auto;
    width: 60%;
    height: 80%;
    border-radius: 26px;
    background: #F0C807;
    box-shadow: inset 9px 9px 6px #aa8e05,
        inset -9px -9px 6px #ffff09;
}


/* CHOICE ADD PUB PAGE */

.add-choice {
    width: 100%;
    height: 100%;
    padding: 10rem;
    position: relative;
}

.add-choice .container {
    width: 70%;
    height: 60%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;

}


.demande-button {
    background-color: #fff;
    width: 40%;
    height: 100%;
    border-radius: 25px;
    position: relative;
    box-shadow: 0px 15px 20px #0c0d0d;

}

.offre-button {
    background-color: #fff;
    width: 40%;
    height: 100%;
    border-radius: 25px;

    position: relative;
    box-shadow: 0px 15px 20px #0c0d0d;

}

.title-add {
    margin: 1rem;
    font-family: "Montez";
    font-size: 2.5rem;
}

.txt-add {
    margin: 1rem;
    font-family: "Open Sans";
    padding: 0.5rem;

}

.space-left{
    margin-top: 3%;
    margin-left: 4%;
    display: flex;
    gap: 6rem;
}


.descri{
    width: 25vh;
    height: 15vh;
}

.modif-desc{
    display: block;
}

.log-in {
    position: absolute;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #FFF;
    border: 2px solid #000;
    background-color: #000;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    bottom: 0;
    right: 0;
    margin: 1.5rem;
}

.log-in:hover {
    background-color: #19CAFC;
    box-shadow: 0px 15px 20px #147e9b;
    color: #FFF;
    border: 2px solid #19CAFC;
    transform: translateY(-7px);
}

.log-in:active {
    transform: translateY(-1px);
}


/* Offre - Page */

.background-container-offre{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.font-container-offre{
    background: linear-gradient( 135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1) );
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 36%);
    border: 1px solid rgba(255,255,255,0.16);
    border-radius: 20px;
    width: 80%;
    height: 75%;
    position: absolute;
    bottom: 0;
    margin: 2%;
}

.title-offre{
    display:flex;
    justify-content: center;
}

.back-formulaire-offre{
    display: flex;
    gap: 10rem;
    margin: auto;
    justify-content: center;
}

.back-container-offre-1{
    display: block;
}
.back-container-offre-2{
    display: block;
}

.desc-offre{
    display: block;
}

.desc-offre > p {
    color: #FFF;
}

.desc-offre > textarea{
    width: 100%;
    height: 100%;
}

.back-container-offre-3{
    width: 20%;
    height: 20%;
}

.container-offre-3-img{
    background-color: #000;
    width: 100%;
    height: 100%;

}

.ajout{
    display: block;
    width: 80%;
    height: 3rem;
    padding: 0px 24px;
    margin: 0.5rem;
    font-size: 1rem;
    color: #333;
    background-color: transparent;
    background-image: none;
    border: 2.5px solid #19CAFC;
    border-radius: 1rem;
}

.add-photo{
    margin: 5rem;
    width: 5rem;
    filter: drop-shadow(5px 5px 5px #000);
    cursor: pointer;
}

/********************* RESPONSIVE ********************/


@media only screen and (max-width: 1700px) {

    /********************* INDEX ********************/
    .user-img {
        width: 5rem;
    }

    .user {
        position: absolute;
        margin-top: 4rem;
        margin-right: 5rem;
        right: 0;
    }

    .menu {
        overflow: hidden;
        position: absolute;
        width: 235%;
        right: -50px;
        z-index: 1;
        translate: 0 -15px;
        opacity: 0;
        visibility: hidden;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.45);
        transition: 0.4s;
    }


    .title-context {
        font-size: 4rem;
    }

    .subtitle-context {
        font-size: 2rem;
    }

    .text-context {
        font-size: 1.2em;
        letter-spacing: 0.5px;
    }

    #contextimg {}

    @keyframes superman {

        0%,
        100% {
            bottom: 60%;
            left: 590px;
        }

        50% {
            bottom: 85%;
        }

    }


    .card {
        width: 220px;
        height: 270px;
    }

    .card:hover {
        width: 295px;
        transform: scale(1.15) rotate(5deg);
    }

    .title-cat {
        font-size: 2rem;
    }

    .circle {
        width: 60px;
        height: 60px;
    }


    .form-control input {
        padding: 13px 0;
        font-size: 15px;
    }

    .log {
        margin: 1rem auto auto auto;
    }


}





@media only screen and (max-width: 1540px) {

    /********************* INDEX ********************/


    .user-img {
        width: 4.5rem;
    }


    .user {
        position: absolute;
        margin-top: 3rem;
        margin-right: 4.5rem;
        right: 0;
    }

    .menu {
        overflow: hidden;
        position: absolute;
        width: 260%;
        right: -55px;
        z-index: 1;
        translate: 0 -15px;
        opacity: 0;
        visibility: hidden;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.45);
        transition: 0.4s;
    }


    .h1-accueil {
        font-size: 11rem;
    }

    .h2-accueil {
        font-size: 2.5rem;

    }



    .text-context {
        font-size: 0.95em;
        letter-spacing: 0.5px;
    }


    @keyframes superman {

        0%,
        100% {
            bottom: 60%;
            left: 600px;
        }

        50% {
            bottom: 85%;
        }

    }


    .card {
        width: 180px;
        height: 230px;
    }

    .card:hover {
        width: 275px;
        transform: scale(1.15) rotate(5deg);
    }

    .title-cat {
        font-size: 1.6rem;
    }

    .circle {
        width: 50px;
        height: 50px;
    }

    /********************* LOGIN ********************/

    .formulaire {
        height: 60%;
    }

    .Inscription {
        height: 90%;
    }

}



@media only screen and (max-width: 600px) {

    /********************* INDEX ********************/

    .user {
        margin-right: 0.2rem;
        margin-top: 5rem;
    }

    .user-img {
        width: 4rem;
    }


    nav ul li.header-static {
        margin-left: 1rem;
    }

    .h1-accueil {
        font-size: 5rem;
        margin-bottom: 5rem;
    }

    .h2-accueil {
        font-size: 2rem;
    }

    .dob {
        display: block;
    }

    .dob .container {
        padding: 2rem;
        width: 100%;
        height: 50%;
    }

    .title-context {
        font-size: 3rem;
    }

    .subtitle-context {
        font-size: 2rem;
    }

    #contextimg {
        right: 0;
        width: 25%;
    }

    .dob .container-2 {
        top: 0;
        padding: 2rem;
        width: 100%;
        height: 50%;
        margin-top: 0%;



    }

    #SuperTikker {
        width: 25%;
    }


    .text-context {
        font-size: 0.8rem;
        letter-spacing: 0.5px;
    }

    @keyframes superman {

        0%,
        100% {
            bottom: 100%;
            left: 150px;
        }

        50% {
            bottom: 90%;
        }

    }

    .tags .container-4 {
        padding: 2rem;
    }

    .container-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-flow: column;
    }

    .card {
        width: 130px;
        height: 180px;
        margin: auto;
    }

    .card:hover {
        width: 275px;
        transform: scale(1.15) rotate(5deg);
    }

    .title-cat {
        font-size: 1.2rem;
    }

    .circle {
        width: 40px;
        height: 40px;
    }

    /********************* LOGIN ********************/

    .formulaire {
        width: 80%;
        height: 60%;
    }

    .form-block {
        margin-top: 20%;
    }

    .Inscription {
        height: 80%;
    }

    .inscription {
        font-size: 0.8rem;
    }

    .btn {
        font-size: 0.7rem;
    }


}